<launch>

  <arg name="mav_name" default="ardrone"/>
  <arg name="namespace" default="$(arg mav_name)"/>
  <arg name="gui" default="true" />
  <arg name="model" default="$(find drone_description)/urdf/mav_with_pan_tilt_camera.gazebo"/>

  <!-- send the robot XML to param server -->
  <param name="robot_description" command="
    $(find xacro)/xacro.py '$(arg model)'
    mav_name:=$(arg mav_name)
    namespace:=$(arg namespace)
    enable_logging:=false
    enable_ground_truth:=true
    enable_mavlink_interface:=false
    log_file:=empty
    "/>
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz"/>

</launch>
