<launch>

  <!-- do not launch this file alone -->
  <arg name="mav_name" default="firefly"/>
  <arg name="gimbal_camera_name" default="tilt_camera"/>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam param="$(arg gimbal_camera_name)/joint_state_controller" subst_value="true">
    type: "joint_state_controller/JointStateController"
    publish_rate: 50
  </rosparam>

  <rosparam param="$(arg gimbal_camera_name)/joint1_position_controller" subst_value="true">
    type: "effort_controllers/JointPositionController"
    joint: $(arg mav_name)/$(arg gimbal_camera_name)/gimbal_pitch_joint
    pid: { p: 0.15, i: 0.01, d: 0.001 }
  </rosparam>

  <!-- load the controllers -->
  <!-- keep in mind that the path(namespace) of these controllers should be the same as <robotNamespace> tag in gazebo_ros_control plugin -->
  <node name="tilt_camera_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" ns="$(arg gimbal_camera_name)"
	output="screen" args=
            "joint_state_controller
					   joint1_position_controller"/>

</launch>
